<div class="content-wrapper">
  <app-horizontal-menu (selectedItemChange)="this.selectedItemChange($event)"
                       [menuItems]="expertiseStatus"></app-horizontal-menu>
  <app-table-with-pagination (loadInfo)="loadMore($event)"
                             (rowClick)="rowClick($event)"
                             [countRecord]="countRecord"
                             [dataSource]="dataSource"
                             [displayedColumns]="tableColumns"
                             [pageSize]="pageSize"
  ></app-table-with-pagination>
</div>
