<div class="header__box">
  <div class="header__title-wrapper">
    <div class="header__title">{{title}} - <span>"{{subtitle}}"</span></div>
  </div>
  <div class="header__content">
    <ng-content></ng-content>
  </div>
</div>
