@import '../../../styles/all';

.header__box {
  display: flex;
  height: $g_heightHeader;
  padding: 0 70px;
  background: -webkit-linear-gradient(left, $mainBlueColor 0%, #179dda 100%);
  background: linear-gradient(to right, $mainBlueColor 0%, #179dda 100%);
  align-items: center;
}

.header__title-wrapper {
  height: 76px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  white-space: nowrap;
}

.header__title {
  font-size: 25px;
  margin-top: -5px;
  max-width: calc(75vw - 100px);
  text-overflow: ellipsis;
  overflow: hidden;
}

.header__button {
  font-size: 18px;
  padding: 6px 18px;
  color: white;
  border: 2px solid white;
  line-height: 18px;
  box-sizing: border-box;
  height: 35px;
  margin-left: 40px;
  opacity: 0.7;
  cursor: pointer;
  transition: 0.1s all ease-in;
  background-color: transparent;

  &:hover {
    opacity: 1;
    transition: 0.1s all ease-in;
  }
}

.header__content {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
}

.header__text__label {
  font-size: 18px;
  color: white;
}

.header__icon_check::before {
  display: inline-block;
  font: normal normal normal 18px/1 FontAwesome;
  color: white;
  font-size: inherit;
  text-rendering: auto;
  content: '\F00C';
  padding-right: 5px;
}

/* правила на странице Аналитика и Отчетность */
:host-context(app-analytics) {
  .header__title {
    max-width: none;
  }

  .header__title-wrapper {
    width: 100%;
  }
}
