
<form [formGroup]="profileFormGroup" class="app_form">

  <h2>Профиль пользователя</h2>

  <div>
    <mat-form-field>
      <input formControlName="lastName" id="lastName" matInput placeholder="Фамилия" readonly>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input formControlName="firstName" id="firstName" matInput placeholder="Имя" readonly>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input formControlName="secondName" id="secondName" matInput placeholder="Отчество" readonly>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input formControlName="email" id="email" matInput placeholder="Адрес электронной почты" readonly>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input formControlName="phone" id="phone" matInput placeholder="Контактный телефон" readonly>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input formControlName="organisationName" id="organisationName" matInput placeholder="Наименование организации"
             readonly>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input formControlName="organisationPhone" id="organisationPhone" matInput
             placeholder="Контактный телефон организации" readonly>
    </mat-form-field>
  </div>


  <div>
    <app-button-back buttonName="Вернуться в систему" url="system"></app-button-back>
    <app-button-primary
      (click)="edit()"
      label="Редактировать">
    </app-button-primary>
  </div>
</form>
