<app-horizontal-menu (selectedItemChange)="this.changeStatus($event)"
                     [menuItems]="expertiseApplicationStatus"></app-horizontal-menu>
<app-table-with-pagination (loadInfo)="loadInfo($event)" (rowClick)="selectedRow($event)"
                           [countRecord]="itemCount" [dataSource]="dataSource | async" [displayedColumns]="tableColumns"
                           [pageSize]="pageSize">
</app-table-with-pagination>


