<form [formGroup]="subtaskForm">

  <div *ngIf="this.subtaskForm.controls['id'].value==null">
    <mat-form-field>
      <input formControlName="name" matInput placeholder="Название подзадачи">
    </mat-form-field>
  </div>

  <app-datepicker
    [formGroup]="subtaskForm"
    fieldLabel="Срок выполнения"
    fieldName="deadlineDate">
  </app-datepicker>


  <div>
    <mat-form-field>
      <textarea formControlName="description" matInput placeholder="Описание подзадачи" rows="5"></textarea>
    </mat-form-field>
  </div>


  <div *ngIf="this.subtaskForm.controls['id'].value!=null">
    <mat-form-field>
              <textarea formControlName="comment" matInput placeholder="Комментарий от исполнителя" readonly
                        rows="5"></textarea>
    </mat-form-field>
  </div>

  <div *ngIf="this.subtaskForm.controls['id'].value!=null">
    <app-file-list [files]="subtaskData.files" header="Файлы от работника"
                   [canDelete]="false"></app-file-list>
  </div>

  <app-button-primary *ngIf="this.subtaskForm.controls['id'].value==null"
                      label="Сохранить подзадачу"
                      (click)="save()">
  </app-button-primary>

  <app-button-primary *ngIf="false"
                      label="Редактировать"
                      (click)="save()">
  </app-button-primary>
</form>

