<div class="form-wrapper">
  <mat-card class="card">
    <mat-card-actions>
      <app-form-header (saveClick)="save()"></app-form-header>
    </mat-card-actions>
    <mat-card-content>
      <ng-content></ng-content>
    </mat-card-content>
  </mat-card>
</div>
