@import "~app/shared/styles/all";

.form-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  height: calc(100% - #{$g_heightHeader * 2});
}

.card {
  height: 100%;
  overflow-y: auto;
  min-width: 800px;
}
