<form [formGroup]="editPasswordFormGroup" class="app_form">

  <h2>Смена пароля</h2>

  <div>
    <mat-form-field>
      <input type="password" formControlName="oldPassword" id="oldPassword" matInput placeholder="Старый пароль">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input type="password" formControlName="newPassword" id="newPassword" matInput placeholder="Новый пароль">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input type="password" formControlName="newRepeatPassword" id="newRepeatPassword" matInput placeholder="Повторите новый пароль">
    </mat-form-field>
  </div>


  <div>
    <button
      (click)="close()"
      mat-stroked-button>
      Закрыть
    </button>
    <app-button-primary
      (click)="editPassword()"
      [disabled]="editPasswordFormGroup.status !== 'VALID'"
      label="Сохранить">
    </app-button-primary>
  </div>
</form>
