/**цвет текущих элементов и основных элементов управления*/
$mainBlueColor: #0070a4;

/* фон левой панели в интерфейсе */
$g_color_leftSidebarBackground: #455f71;

/* верхняя узкая шапка сайта */
$g_color_headerBar: $g_color_leftSidebarBackground;
