<app-base-layout>

  <app-layout-menu>
    <app-vertical-menu [menuItems]="registrationRoute"></app-vertical-menu>
  </app-layout-menu>

  <app-layout-header subtitle="Руководитель" title="Личный кабинет">
  </app-layout-header>

  <div class="router-outlet-wrapper container-outlet">
    <router-outlet></router-outlet>
  </div>

</app-base-layout>
