<h2 mat-dialog-title *ngIf="data?.title">{{data?.title}}</h2>
<div mat-dialog-content class="content">
  <b class="content__text" *ngIf="data?.text">{{data?.text}}</b>
</div>
<div mat-dialog-actions class="btn-actions">
  <app-button-basic *ngIf="data?.showNegativeButton" [title]="data.negativeButtonText" [label]="data.negativeButtonText"
                    (clickHandler)="negativeClick()">{{data?.negativeButtonText}}</app-button-basic>
  <app-button-basic *ngIf="data?.showPositiveButton" [title]="data.positiveButtonText" [label]="data.positiveButtonText"
                    (clickHandler)="positiveClick()"></app-button-basic>
</div>
