<form [formGroup]="subTaskFormGroup" class="form-wrapper">
  <div class="form-group">
    <mat-form-field>
      <input formControlName="name" matInput name="name" placeholder="Наименование подзадачи"
             readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <app-datepicker [date]="subTask.deadlineDate" [disabled]="true" [formGroup]="subTaskFormGroup"
                    fieldLabel="Срок" fieldName="deadlineDate"></app-datepicker>
  </div>

  <div class="form-group">
    <mat-form-field>
      <textarea formControlName="description" lines="1" matInput name="description"
                placeholder="Описание" readonly></textarea>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <textarea [readonly]="this.subTask.isClosed" formControlName="comment" lines="1" matInput name="comment"
                placeholder="Комментарий"></textarea>
    </mat-form-field>
  </div>

  <div>
    <app-file-list [files]="subTask.files" header="Прикрепленные файлы"
                   (deleteFile)="deleteFile($event)" [canDelete]="!subTask.isClosed"></app-file-list>
    <app-file-uploader #uploader (successUploadAll)="successClose()"></app-file-uploader>
  </div>
</form>
<app-button-primary (clickHandler)="closeSubtask()" label="ЗАКРЫТЬ" style="float: right"></app-button-primary>
