<div class="padding-container clear-container-context">
  <div class="message-container" [ngClass]="message.isOwnMessage ? 'own-message' : 'incoming-message'">
    <div class="padding-container">
      <div class="right-align detail-font">
        {{message?.writer?.lastName}}
      </div>
      <div>
        {{message.text}}
      </div>
      <div class="right-align footer-margin detail-font">
        {{message.timestamp | date: 'dd.MM.yyyy HH:mm'}}
      </div>
    </div>
  </div>
</div>
