$inboxMessageColor: #e3e3e3;
$outboxMessageColor: #bfbfbf;
$spaceValue: 14px;
$borderRadiusValue: 20px;
$messageWidth: 70%;
$smallFontSize: 12px;

.own-message {
  background: $outboxMessageColor;
  float: right;
}

.incoming-message {
  background: $inboxMessageColor;
  float: left;
}

.padding-container {
  padding: $spaceValue;
}

.clear-container-context {
  display: flow-root;
}

.message-container {
  border-radius: $borderRadiusValue;
  max-width: $messageWidth;
}

.right-align {
  text-align: right;
}

.footer-margin {
  margin-top: $spaceValue;
}

.detail-font {
  font-size: $smallFontSize;
}
