<div class="dialog-content">
  <h2 mat-dialog-title>{{data?.name}}</h2>
  <div mat-dialog-content>
    <p class="error-description">{{data?.description}}</p>
  </div>
  <div mat-dialog-actions style="float: right;">
    <app-button-basic (clickHandler)="dialogRef.close()" label="ОК"></app-button-basic>
  </div>
</div>
