@import '../../shared/styles/all';

.column-container {
  display: flex;
  flex-direction: column;
}

.info-container {
  padding: 32px 48px;
  color: #333333;
}

.header-title {
  line-height: 40px;
  padding-left: 20px;
  color: #ffffff;
  box-sizing: border-box;
  font-family: 'Roboto-Light';
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding-right: 10px;

  span.bold {
    font-family: 'Roboto-Bold';
  }
}

.router-outlet-wrapper {
  height: calc(100vh - 104px);
  overflow: auto;
}
