<input [uploader]="uploader" multiple ng2FileSelect type="file"/><br/>
<div *ngIf="uploader?.queue?.length > 0">
  <table class="table">
    <thead>
    <tr>
      <th>Файл</th>
      <th>Размер (MB)</th>
      <th>Загрузка (%)</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of uploader.queue">
      <td><strong [ngClass]="{'file-error': item.isError}">{{ item?.file?.name }}</strong></td>
      <td *ngIf="uploader.options.isHTML5">{{ item?.file?.size / 1024 / 1024 | number:'.2' }} MB</td>
      <td *ngIf="uploader.options.isHTML5">
        <mat-progress-bar mode="determinate" value="{{item.progress}}"></mat-progress-bar>
      </td>
      <td>
        <app-button-primary (clickHandler)="item.remove()" label="Удалить"></app-button-primary>
      </td>
    </tr>
    </tbody>
  </table>
</div>

