<div class="padding-container fill-height">
  <div class="padding-container center-text">
    <b>Чат</b>
  </div>
  <div #message_container class="padding-container scrollable-container" infiniteScroll
       (scrolledUp)="scrollUpMessages()" [scrollWindow]="false">
    <chat-message *ngFor="let message of messages" [message]="message"></chat-message>
  </div>
  <div class="padding-container container-writer">
    <div class="left-writer">
      <mat-form-field floatLabel="never" class="fill-width">
        <textarea [(ngModel)]="currentMessageText" matInput placeholder="Текст сообщения" cdkTextareaAutosize="true"
                  cdkAutosizeMaxRows="3" (keypress)="handleKeypress($event)"></textarea>
      </mat-form-field>
    </div>
    <div class="right-writer center-content padding-container margin-left">
      <mat-icon (click)="sendMessage(currentMessageText)" class="pointer">send</mat-icon>
    </div>
  </div>
</div>
