$spaceValue: 14px;
//ToDo: возможно костыль, не нашел варианта как сделать с процентовкой
$heightValue: 300px;

.padding-container {
  padding: $spaceValue;
}

.center-text {
  text-align: center;
}

.left-writer {
  float: left;
  width: 95%;
}

.right-writer {
  float: right;
}

.container-writer {
  display: flex;
}

.fill-width {
  width: 100%;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.margin-left {
  margin-left: $spaceValue;
}

.pointer {
  cursor: pointer;
}

.scrollable-container {
  overflow: auto;
  height: calc(80vh - 150px);
}

.fill-height {
  height: 100%;
}
