.task-container{
  width: 80%;
  margin: 0 auto;
}

h2{
  margin: 10px;
}

form {
  margin: 5px;
}

mat-accordion{
  margin: 10px;
}

app-button-primary{
  margin: 10px;
}

.task-buttons{
  margin: 10px;
}


.not-closed {
  color: white;
  background-color: red;
}

.closed {
  color: white;
  background-color: green;
}
