<div class="task-container">
  <h2>Задача</h2>
  <form [formGroup]="createExpertiseTaskForm" class="expertise-task-form">
    <fieldset>
      <legend>Данные задачи</legend>
      <div *ngIf="this.createExpertiseTaskForm.controls['id'].value!=null">
        <mat-form-field>
          <input formControlName="id" matInput placeholder="Идентификатор" readonly>
        </mat-form-field>
      </div>

      <div *ngIf="this.createExpertiseTaskForm.controls['id'].value!=null">
        <mat-form-field>
          <mat-select formControlName="taskStatus" matInput placeholder="Статус" disabled="true">
            <mat-option *ngFor="let status of this.taskStatuses" [value]="status.key">{{status.value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <mat-select formControlName="responsibleUserId" placeholder="Исполнитель">
            <mat-option *ngFor="let user of users" [value]="user.id">
              {{user | userFio}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <app-datepicker
        [formGroup]="createExpertiseTaskForm"
        fieldLabel="Срок выполнения"
        fieldName="deadlineDate">
      </app-datepicker>

      <div>
        <mat-form-field>
          <input formControlName="name" matInput placeholder="Название задачи">
        </mat-form-field>
      </div>

      <div>
        <mat-form-field>
          <textarea formControlName="description" matInput placeholder="Описание задачи" rows="5"></textarea>
        </mat-form-field>
      </div>

      <div *ngIf="this.createExpertiseTaskForm.controls['id'].value!=null">
        <app-file-list [files]="taskModel.taskFiles" header="Файлы от работника"
                       [canDelete]="false"></app-file-list>
      </div>
    </fieldset>
  </form>

  <fieldset *ngIf="this.createExpertiseTaskForm.controls['id'].value!=null">
    <legend>Подзадачи</legend>

    <app-button-primary *ngIf="this.createExpertiseTaskForm.controls['taskStatus'].value!='CLOSED'"
      label="Добавить подзадачу"
      (click)="addNewModel()"></app-button-primary>

    <mat-accordion class="example-headers-align">
      <mat-expansion-panel hideToggle *ngFor="let subtask of this.subTasksData; let i = index">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Подзадача {{subtask.id}}
          </mat-panel-title>
          <mat-panel-description>
            Название {{subtask.name}}
          </mat-panel-description>
          <mat-panel-description>
            <span [ngClass]="subtask.isClosed? 'closed' : 'not-closed'">
              {{subtask.isClosed ? 'ЗАКРЫТА' : 'НЕ ЗАКРЫТА'}}
            </span>
          </mat-panel-description>
        </mat-expansion-panel-header>

        <app-expertise-subtask [subtaskData]="subtask"></app-expertise-subtask>

      </mat-expansion-panel>
    </mat-accordion>
  </fieldset>

  <div class="task-buttons">
    <app-button-primary *ngIf="this.createExpertiseTaskForm.controls['id'].value==null"
                        label="Сохранить задачу"
                        (click)="save()">
    </app-button-primary>

    <app-button-primary *ngIf="false"
                        label="Редактировать"
                        (click)="save()">
    </app-button-primary>


    <app-button-back
      buttonName="Вернуться к экспертизе"
    ></app-button-back>

  </div>
</div>


