<form [formGroup]="applicationForm" class="user-form">
  <h2>Запрос на проведение экспертизы</h2>
  <fieldset>
    <legend>Данные заявки {{this.applicationId}}</legend>
    <div>
      <mat-form-field>
        <input formControlName="name" id="name" matInput placeholder="Название экспертизы" readonly>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input formControlName="description" id="description" matInput placeholder="Описание пароля" readonly>
      </mat-form-field>
    </div>

    <div>
      <app-datepicker [formGroup]="applicationForm" disabled="true" fieldLabel="Дата подачи"
                      fieldName="receiveDate"></app-datepicker>
    </div>

    <div>
      <mat-form-field>
        <mat-select formControlName="status" matInput placeholder="Статус заявки" disabled="true">
          <mat-option *ngFor="let status of statusDescriptions" [value]="status.key">{{status.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <app-file-list [files]="applicationForm.get('expertiseFiles')?.value" (deleteFile)="deleteFile($event)"
                     header="Файлы заявки"></app-file-list>
    </div>
  </fieldset>

  <chat
    *ngIf="!(this.applicationForm.controls['status'].value=='NEW' || this.applicationForm.controls['status'].value=='REJECT')"
    [expertiseApplicationId]="applicationId"></chat>


  <div>
    <app-button-primary
      (clickHandler)="rejectClick()"
      *ngIf="this.applicationForm.controls['status'].value=='NEW'"
      label="Отказать">
    </app-button-primary>
    <app-button-primary
      (clickHandler)="acceptClick()"
      *ngIf="this.applicationForm.controls['status'].value=='NEW'"
      label="Принять">
    </app-button-primary>
    <app-button-primary
      (clickHandler)="inWorkClick()"
      *ngIf="this.applicationForm.controls['status'].value=='ACCEPT'"
      label="Взять в работу">
    </app-button-primary>
    <app-button-primary
      (clickHandler)="nextStep()"
      *ngIf="this.applicationForm.controls['status'].value=='IN_WORK' || this.applicationForm.controls['status'].value=='CLOSED'"
      label="Далее">
    </app-button-primary>
  </div>

</form>
