<form [formGroup]="rejectForm" class="user-form">
  <div class="form-group">
    <mat-form-field>
      <input formControlName="id" id="id" matInput placeholder="Идентификатор заявки экспертизы" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <textarea formControlName="rejectReason" id="rejectReason" matInput placeholder="Причина отказа в регистрации"
                rows="8"></textarea>
    </mat-form-field>
  </div>


  <div class="form-group">
    <app-button-primary
      (clickHandler)="reject()"
      [disabled]="rejectForm.status !== 'VALID'"
      label="Отказать">
    </app-button-primary>
    <app-button-primary
      label="Закрыть">
    </app-button-primary>
  </div>

</form>
