/* Global Styles */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'assets/css/font-awesome.min.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

* {
  font-family: 'Roboto', Arial, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: row;
}


.router-outlet-wrapper {
  height: 100%;
}

router-outlet + * {

}

mat-form-field {
  width: 100%;
}

/* Text */

H1 {
  font-size: 32px;
}

p {
  font-size: 14px;
}

app-root {
  min-height: 80%;
  min-width: 100%;
  flex: 1 0 auto;
}

app-public-header {
  width: 100%;
  display: flex;
  flex-direction: row;
}

body {
  height: 100%;
  margin: 0;
}

.padding-10 {
  padding: 10px;
}

.no-margin {
  margin: 0px;
}

.form-center {
  min-width: 50%;
  margin: 0 auto;
}

/*
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/
