<div *ngIf="user" class="menu-wrapper">
  <button [matMenuTriggerFor]="userMenu" class="menu-button" mat-button>{{user | userFio}}
    <mat-icon style="transform: rotate(270deg);">chevron_left</mat-icon>
  </button>
  <mat-menu #userMenu="matMenu" align="end" xPosition="before">
    <button (click)="profile()" mat-menu-item>
      <mat-icon>help</mat-icon>
      Профиль
    </button>
    <button (click)="logout()" mat-menu-item>
      <mat-icon>home</mat-icon>
      Выход
    </button>
  </mat-menu>
</div>
