<table [dataSource]="dataSource" class="table-wrapper" mat-table>
  <ng-container matColumnDef="select">
    <th *matHeaderCellDef mat-header-cell>
      <mat-checkbox (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td *matCellDef="let row" mat-cell>
      <mat-checkbox (change)="$event ? selection.toggle(row) : null"
                    (click)="$event.stopPropagation()"
                    [checked]="selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container *ngFor="let header of displayedColumns" matColumnDef="{{header.key}}">
    <th *matHeaderCellDef mat-header-cell mat-sort-header>{{header.display}}</th>
    <td *matCellDef="let element" mat-cell> {{element[header.key]}} </td>
  </ng-container>

  <tr *matHeaderRowDef="columns" mat-header-row></tr>
  <tr (click)="click(i)" *matRowDef="let row; columns: columns; let i = index" mat-row></tr>
</table>
