.content-wrapper {
  margin: 10px;
}

.subtask-list {
  margin-bottom: 10px;
}

.spacer {
  flex: 1 1 auto;
}

.not-closed {
  background-color: red;
}

.closed {
  background-color: green;
}

.not-closed, .closed {
  padding: 5px;
  color: white;
}

.mat-accordion .mat-expansion-panel:last-of-type {
  border-radius: 0;
}
