<div class="content-wrapper">
  <div class="subtask-list">
    <div *ngFor="let subTask of subTasks">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Подзадача: {{subTask.name}}
              <span class="spacer"></span>
              <span
                [ngClass]="subTask.isClosed? 'closed' : 'not-closed'">{{subTask.isClosed ? 'ЗАКРЫТА' : 'НЕ ЗАКРЫТА'}}</span>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-subtask-item [subTask]="subTask"></app-subtask-item>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>
