<div [ngClass]="{'grid-content-wrapper': isUserChatParticipant}">
  <app-form-layout (saveHandler)="save()">
    <h2>Заявка на проведение экспертизы</h2>

    <form [formGroup]="applicationFormGroup" class="registration-form">
      <mat-form-field>
        <input formControlName="name" matInput name="name" placeholder="Наименование экспертизы">
      </mat-form-field>

      <mat-form-field>
        <textarea formControlName="description" matInput name="description" placeholder="Описание"></textarea>
      </mat-form-field>

      <div *ngIf="!isNew">
        <mat-form-field>
          <input formControlName="status" matInput name="status" placeholder="Статус заявки" readonly>
        </mat-form-field>

        <mat-form-field *ngIf="expertiseApplication?.status === expertiseApplicationStatus.REJECT">
          <input formControlName="rejectComment" matInput name="rejectComment" placeholder="Комментарий при отказе"
                 readonly>
        </mat-form-field>

        <app-datepicker [disabled]="true" [formGroup]="applicationFormGroup" fieldLabel="Дата создания"
                        fieldName="receiveDate"></app-datepicker>

        <mat-form-field>
          <input formControlName="leaderUser" matInput name="leader" placeholder="Ответственный руководитель"
                 readonly>
        </mat-form-field>

        <mat-form-field
          *ngIf="expertiseApplication?.status === expertiseApplicationStatus.IN_WORK || expertiseApplication?.status === expertiseApplicationStatus.REJECT || expertiseApplication?.status === expertiseApplicationStatus.ACCEPT">
          <textarea id="rejectReason" matInput placeholder="Заключение" formControlName="resultDescription" rows="8"
                    readonly></textarea>
        </mat-form-field>
      </div>

      <app-file-list [files]="expertiseApplication.expertiseFiles" (deleteFile)="deleteFile($event)"
                     header="Прикрепленные файлы"></app-file-list>
    </form>
    <app-file-uploader #uploader (successUpload)="successSave()"></app-file-uploader>
  </app-form-layout>

  <chat *ngIf="expertiseApplication.id && isUserChatParticipant"
        [expertiseApplicationId]="expertiseApplication.id"></chat>
</div>

