<h3>{{header}}</h3>
<div *ngFor="let file of files" class="file-item">
  <mat-icon *ngIf="canDelete" style="cursor: pointer; float: right" (click)="delete(file)">clear</mat-icon>
  <a href="{{fileDownloadUrl}}{{file.id}}">{{file.filename}}</a><br>
  <span>{{file.creator | userFio}}  {{file.dateCreate | date: 'dd.MM.yyyy hh:mm:ss'}}</span>
</div>
