<div style="display: flex">
  <div class="padding-10 form-center">
    <h2 class="no-margin">Отправка заявки на получение доступа к системе</h2>

    <form [formGroup]="registrationForm">
      <div class="form-group">
        <mat-form-field>
          <input formControlName="lastName" id="lastName" matInput placeholder="Фамилия">
          <mat-error [control]="registrationForm.get('lastName')" app-form-error-message></mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input formControlName="firstName" id="firstName" matInput placeholder="Имя">
          <mat-error [control]="registrationForm.get('firstName')" app-form-error-message></mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input formControlName="secondName" id="secondName" matInput placeholder="Отчество">
          <mat-error [control]="registrationForm.get('secondName')" app-form-error-message></mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input formControlName="email" id="email" matInput placeholder="Адрес электронной почты">
          <mat-error [control]="registrationForm.get('email')" app-form-error-message></mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input formControlName="phone" id="phone" matInput placeholder="Контактный телефон">
          <mat-error [control]="registrationForm.get('phone')" app-form-error-message></mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input formControlName="organisationName" id="organisationName" matInput
                 placeholder="Наименование организации">
          <mat-error [control]="registrationForm.get('organisationName')" app-form-error-message></mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input formControlName="organisationPhone" id="organisationPhone" matInput
                 placeholder="Контактный телефон организации">
          <mat-error [control]="registrationForm.get('organisationPhone')" app-form-error-message></mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input formControlName="organisationInn" id="organisationInn" matInput placeholder="ИНН организации">
          <mat-error [control]="registrationForm.get('organisationInn')" app-form-error-message></mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input formControlName="organisationOgrn" id="organisationOgrn" matInput placeholder="ОГРН организации">
          <mat-error [control]="registrationForm.get('organisationOgrn')" app-form-error-message></mat-error>
        </mat-form-field>
      </div>

      <div class="form-group">
        <button (click)="submit(registrationForm)" [disabled]="registrationForm.status !== 'VALID'"
                color="primary"
                mat-raised-button><span
          style="color: white;">Добавить</span></button>
      </div>
    </form>
  </div>
</div>
