.active-router-link {
  border-right: 5px solid #455f71a8;
}

mat-tree-node {
  border-bottom: 1px solid #455f71;
  border-left: 1px solid #455f71;
  border-right: 1px solid #455f71;
  outline: none;
}
