<div class="center-content">
  <form [formGroup]="authorisationForm" class="padding-10 auth-form">
    <div>
      <h2>Авторизация</h2>
      <mat-form-field>
        <input formControlName="login" id="login" matInput placeholder="Логин">
      </mat-form-field>
      <mat-form-field>
        <input formControlName="password" id="password" matInput placeholder="Пароль" type="password">
      </mat-form-field>
    </div>
    <div align="end">
      <app-button-primary (clickHandler)="submit()" [disabled]="authorisationForm.status !== 'VALID'"
                          isSubmitButton="true"
                          label="Войти"></app-button-primary>
    </div>
  </form>
</div>
