.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.auth-form {
  border: 1px solid;
  min-width: 50%;
  max-width: 60%;
  margin-top: -70px;
}
