/* ширина широкого состояния сайдбара документов */
$widthAsideBar: 200px;

/* ширина узкого состояния сайдбара документов */
$widthNarrowAsideBar: 55px;

/* время анимации ширины сайдбара */
$widthAsideBarAnimateTime: 0.4s;

/* ширина пункта меню */
$heightMenuItem: 40px;

/* ширина пункта подменю */
$heighSubMenuItem: 34px;

/* размер иконки кнопки сужения меню */
$narrowBtnFontSize: 20px;

/* внутренние отступы кнопки сужения меню */
$narrowBtnPadding: 20px;
