@import '~app/shared/styles/all';

:host {
  display: flex;
  height: 100%;
}

.content {
  flex: 1;
  height: 100%;
  min-width: 1px;
  overflow: auto;
}

.content-wrapper {
  height: calc(100% - #{$g_heightHeader});
}
