<ng-content select="app-layout-menu"></ng-content>

<div class="content">
  <ng-content select="app-layout-header"></ng-content>
  <div class="content-wrapper">
    <ng-content></ng-content>
  </div>
</div>
