<app-base-layout>

  <app-layout-menu>
    <app-vertical-menu [menuItems]="menuItems"></app-vertical-menu>
  </app-layout-menu>

  <div class="router-outlet-wrapper">
    <router-outlet></router-outlet>
  </div>

</app-base-layout>

