<div class="padding-10 btn-group">
  <app-button-primary (clickHandler)="addUsers()"
                      *ngIf="addedBtn"
                      label="Добавить"
                      title="Добавить">
  </app-button-primary>
  <app-button-primary (clickHandler)="blockUsers()"
                      *ngIf="blockBtn"
                      [disabled]="selectedUserIsEmpty"
                      label="Заблокировать"
                      title="Заблокировать">
  </app-button-primary>
  <app-button-primary (clickHandler)="unblockUsers()"
                      *ngIf="unblockBtn"
                      [disabled]="selectedUserIsEmpty"
                      label="Разблокировать"
                      title="Разблокировать">
  </app-button-primary>
</div>
<app-table-with-pagination (loadInfo)="loadData($event)"
                           (selectedRowsChanged)="selectedRowsChanged($event)"
                           [countRecord]="countRecord"
                           [dataSource]="dataSource"
                           [displayedColumns]="columns"
                           [selectable]="true">
</app-table-with-pagination>
