<div class="padding-10 user-form">
  <h2>Завершение регистрации</h2>

  <h2 *ngIf="condition=='load'">Подождите, идёт загрузка</h2>

  <h2 *ngIf="condition=='invalid'">Данная ссылка на активацию не активна. Обратитесь к администратору</h2>

  <h2 *ngIf="condition=='error'">Произошла ошибка при активации профиля, обратитесь к администратору</h2>

  <h2 *ngIf="condition=='success'">Регистрация успешно осуществлена, авторизуйтесь в системе</h2>

  <form *ngIf="condition=='registrate'" [formGroup]="createUserForm">
    <div class="form-group">
      <mat-form-field>
        <input formControlName="login" id="login" matInput placeholder="Введите логин">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input formControlName="password" id="password" matInput placeholder="Введите пароль" type="password">
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input formControlName="repeatPassword" id="repeatPassword" matInput placeholder="Повторите пароль"
               type="password">
      </mat-form-field>
    </div>

    <div class="form-group">
      <app-button-primary
        (clickHandler)="submit()"
        [disabled]="createUserForm.status !== 'VALID'"
        label="Добавить"></app-button-primary>
    </div>
  </form>
</div>
