<div style="display: flex">
  <div class="padding-10 form-center">

    <app-button-back></app-button-back>

    <form [formGroup]="registrationForm">
      <mat-form-field>
        <input formControlName="lastName" id="lastName" matInput placeholder="Фамилия">
        <mat-error [control]="registrationForm.get('lastName')" app-form-error-message></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="firstName" id="firstName" matInput placeholder="Имя">
        <mat-error [control]="registrationForm.get('firstName')" app-form-error-message></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="secondName" id="secondName" matInput placeholder="Отчество">
        <mat-error [control]="registrationForm.get('secondName')" app-form-error-message></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="email" id="email" matInput placeholder="Адрес электронной почты">
        <mat-error [control]="registrationForm.get('email')" app-form-error-message></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="phone" id="phone" matInput placeholder="Контактный телефон">
        <mat-error [control]="registrationForm.get('phone')" app-form-error-message></mat-error>
      </mat-form-field>

      <app-button-primary (clickHandler)="saveUser()" [disabled]="registrationForm.status !== 'VALID'" isSubmitButton="true"
                          label="Добавить" title="Добавить"></app-button-primary>
    </form>
  </div>
</div>
