@import '../shared/styles/all';

.header__title {
  font-size: 38px;
  color: white;
  margin-top: -5px;
}

.container {
  display: flex;
  justify-content: center;
}

.forbidden-content {
  display: flex;
  align-items: center;
  height: max-content;
  margin-top: 135px;
}

.forbidden-image {
  width: 490px;
  height: 367px;
  background-image: url('/assets/images/404.svg');
  background-repeat: no-repeat;
  margin-left: 30px;
}

.forbidden-text {
  font-size: 30px;
  color: #283137;
  font-family: $fontFamilyMedium;
  margin-left: -20px;
  flex: 1;
}

.back-link {
  cursor: pointer;
  color: #0476ac;
}
