<div class="container">
  <div class="forbidden-content">
    <div class="forbidden-image"></div>
    <div class="forbidden-text">В системе отсутствует такая страница. <br> <span class="back-link" (click)="goBack()">Вернитесь назад</span> или воспользуйтесь меню.</div>
  </div>
</div>
