<div class="btn-group">
  <app-button-primary label="Создать" routerLink="./new" title="Создать"></app-button-primary>
</div>
<app-horizontal-menu (selectedItemChange)="this.selectedItemChange($event)"
                     [menuItems]="applicationsStatus"></app-horizontal-menu>
<app-table (rowClick)="rowClick($event)"
           [dataSource]="dataSource"
           [displayedColumns]="tableColumns">
</app-table>
