<form [formGroup]="resultForm" class="result_form">
  <h2>Прикрепление результата</h2>
  <div>
    <mat-form-field>
      <input formControlName="id" id="id" matInput placeholder="Идентификатор" readonly>
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <textarea formControlName="resultDescription" id="result_description" matInput placeholder="Описание результата"
                rows="8"></textarea>
    </mat-form-field>
  </div>

  <div class="files">
    <app-file-list [files]="(this.observable | async)?.fileDtoList" header="Результирующие файлы" (deleteFile)="deleteFile($event)"></app-file-list>
    <app-file-uploader #uploader (successUploadAll)="successSave()"></app-file-uploader>
  </div>

  <div class="result-buttons">
    <app-button-primary
      (clickHandler)="previous()"
      label="Назад">
    </app-button-primary>
    <app-button-primary
      (clickHandler)="close()"
      label="Закрыть">
    </app-button-primary>
    <app-button-primary *ngIf="this.resultForm.controls['applicationStatus'].value!='CLOSED'"
      (clickHandler)="saveResult()"
      label="Сохранить результат">
    </app-button-primary>
    <app-button-primary *ngIf="this.resultForm.controls['applicationStatus'].value!='CLOSED'"
      (clickHandler)="closeApplication()"
      label="Завершить экспертизу">
    </app-button-primary>
  </div>
</form>
