.result_form{
  width: 80%;
  margin: 0 auto;
}

mat-form-field{
  width: 100%;
}

app-button-primary{
  margin: 5px;
}

app-file-uploader{
  margin: 5px;
}

app-file-list{
  margin: 5px;
}

.files{
  margin: 5px;
}

.result-buttons{
  margin: 10px;
}
