@import "~app/shared/styles/all";

.header {
  position: absolute;
  width: 100%;
  top: 0;
  height: $g_appHeaderHeight;
  color: white;
}

.spacer {
  flex: 1 1 auto;
}

app-user-menu {
  height: 100%;
}
