<div class="header">
  <mat-toolbar color="primary" style="width:100%;">
    <mat-toolbar-row>
      <div *ngFor="let headerButton of headerButtons">
        <a [routerLink]="[headerButton.path]" color="accent" mat-button><p
          style="color:white;">{{headerButton.title}}</p>
        </a>
      </div>
      <span class="spacer"></span>
      <app-user-menu></app-user-menu>
      <h1>Лаборатория криминалистики</h1>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
