.expertise_form{
  width: 80%;
  margin: 0 auto;
}

mat-form-field{
  width: 100%;
}

app-button-primary{
    margin: 5px;
}

fieldset{
  margin: 10px;
}

.navigate-button{
  margin: 10px;
}

form{
  margin: 10px;
}
