<form [formGroup]="createExpertiseForm" class="expertise_form">
  <h2>Создание экспертизы</h2>
  <fieldset>
    <legend>Описание экспертизы</legend>
    <div *ngIf="createExpertiseForm.controls['id'].value!=null">
      <mat-form-field>
        <input formControlName="id" id="id" matInput placeholder="Идентификатор" readonly>
      </mat-form-field>
    </div>

    <div *ngIf="createExpertiseForm.controls['id'].value!=null">
      <mat-form-field>
        <mat-select formControlName="status" matInput placeholder="Статус" disabled="true">
          <mat-option *ngFor="let status of statusDescription" [value]="status.key">{{status.value}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <input formControlName="name" id="name" matInput placeholder="Название экспертизы">
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <textarea formControlName="description" id="description" matInput placeholder="Описание экспертизы"
                  rows="8"></textarea>
      </mat-form-field>
    </div>
  </fieldset>

  <div class="navigate-button">
    <app-button-primary *ngIf="createExpertiseForm.controls['id'].value==null"
      label="Сохранить экспертизу"
      (click)=save()>
    </app-button-primary>

    <app-button-primary *ngIf="false"
      label="Редактировать">
    </app-button-primary>
  </div>

  <fieldset *ngIf="createExpertiseForm.controls['id'].value!=null">
    <legend>Список задач</legend>
    <app-button-primary *ngIf="createExpertiseForm.controls['status'].value.toString()!='DONE'"
      label="Добавить задачу"
      (click)="addTaskClick()">
    </app-button-primary>

    <app-table-with-pagination
      [dataSource]="dataSource"
      [displayedColumns]="columns"
      [countRecord]="countRecord"
      (rowClick)="loadTask($event)"
    >
    </app-table-with-pagination>
  </fieldset>


  <div class="navigate-button">
    <app-button-primary
      (clickHandler)="previous()"
      label="Назад">
    </app-button-primary>
    <app-button-primary
      (clickHandler)="next()"
      label="Далее">
    </app-button-primary>
    <app-button-primary
      (clickHandler)="setInWork()"
      *ngIf="this.createExpertiseForm.controls['status']?.value=='NEW'"
      label="Отправить в работу ">
    </app-button-primary>
  </div>
</form>
