<div class="padding-10">
  <app-button-back></app-button-back>
  <form [formGroup]="expertiseForm" class="form-wrapper grid-content">
    <div class="form-group">
      <mat-form-field>
        <input formControlName="name" matInput name="name" placeholder="Наименование задачи" readonly>
      </mat-form-field>
    </div>

    <div class="form-group">
      <app-datepicker [disabled]="true" [formGroup]="expertiseForm" fieldLabel="Срок"
                      fieldName="deadlineDate"></app-datepicker>
    </div>

    <div class="form-group">
      <app-datepicker [disabled]="true" [formGroup]="expertiseForm" fieldLabel="Ожидаемый срок"
                      fieldName="expiredDate"></app-datepicker>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input formControlName="responsible" matInput name="name" placeholder="Ответственный" readonly>
      </mat-form-field>
    </div>

    <div>
      <div class="files">
        <app-file-list [files]="this.task.taskFiles" header="Файлы результата"  (deleteFile)="deleteFile($event)" [canDelete]="!task.isClosed"></app-file-list>
        <app-file-uploader #uploader (successUploadAll)="successSave()"></app-file-uploader>
      </div>
      <div >
        <app-button-primary
          (clickHandler)="saveResult()"
          label="Сохранить файлы задачи">
        </app-button-primary>
      </div>
    </div>

  </form>
</div>

<app-subtask-list [taskId]="taskId"></app-subtask-list>
