<div class="form-wrapper">
  <form [formGroup]="expertiseFormGroup" class="grid-content">
    <div class="form-group">
      <mat-form-field>
        <input formControlName="name" matInput name="name" placeholder="Наименование экспертизы" readonly>
      </mat-form-field>
    </div>

    <div class="form-group">
      <app-datepicker [disabled]="true" [formGroup]="expertiseFormGroup" fieldLabel="Дата создания"
                      fieldName="receiveDate"></app-datepicker>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input formControlName="creator" matInput name="creator" placeholder="Автор экспертизы" readonly>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
        <input formControlName="leader" matInput name="leader" placeholder="Руководитель экспертизы" readonly>
      </mat-form-field>
    </div>

    <div class="form-group">
      <mat-form-field>
      <textarea formControlName="description" matInput name="description" placeholder="Описание экспертизы"
                readonly></textarea>
      </mat-form-field>
    </div>
  </form>
  <br>

    <app-expertise-task-list (taskSelectEvent)="selectTask($event)"
                             [dataSource]="expertise.tasks"></app-expertise-task-list>
</div>
