<app-file-list [files]="applicationFiles" [canDelete]="false"
               header="Перечень файлов, привязанных к заявлению на проведение экспертизы:">
</app-file-list>
<br>
<app-file-list [files]="expertiseFiles" [canDelete]="false"
               header="Перечень файлов, привязанных экспертизе:">
</app-file-list>
