@import '~app/shared/styles/all';

.container {
  display: flex;
  justify-content: center;
  height: calc(100vh - #{$g_appHeaderHeight});
}

.forbidden-content {
  display: flex;
  align-items: center;
  height: max-content;
  margin-top: 150px;
}

.forbidden-image {
  width: 350px;
  height: 300px;
  background-position: center;
  background-image: url("/assets/images/locked.png");
  background-size: cover;
}

.forbidden-text {
  font-size: 30px;
  color: #283137;
  font-family: $fontFamilyMedium;
  margin-left: 70px;
}
