<div class="container">
  <div class="forbidden-content">
    <div class="forbidden-image"></div>
    <div class="forbidden-text">У вас нет прав для просмотра. <br> Обратитесь к администратору системы.</div>
  </div>
</div>
