<form [formGroup]="registrationFormGroup" class="app_form">

  <div class="form-group">
    <mat-form-field>
      <input formControlName="id" id="id" matInput placeholder="Идентификатор" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input formControlName="status" id="status" matInput placeholder="Статус заявки" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input formControlName="lastName" id="lastName" matInput placeholder="Фамилия" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input formControlName="firstName" id="firstName" matInput placeholder="Имя" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input formControlName="secondName" id="secondName" matInput placeholder="Отчество" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input formControlName="email" id="email" matInput placeholder="Адрес электронной почты" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input formControlName="phone" id="phone" matInput placeholder="Контактный телефон" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input formControlName="organisationName" id="organisationName" matInput placeholder="Наименование организации"
             readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input formControlName="organisationPhone" id="organisationPhone" matInput
             placeholder="Контактный телефон организации" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input formControlName="organisationInn" id="organisationInn" matInput placeholder="ИНН организации" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <input formControlName="organisationOgrn" id="organisationOgrn" matInput placeholder="ОГРН организации" readonly>
    </mat-form-field>
  </div>

  <div class="form-group">
    <mat-form-field>
      <textarea formControlName="rejectReason" id="rejectReason" matInput placeholder="Причина отказа в регистрации"
                rows="8"></textarea>
    </mat-form-field>
  </div>

  <div *ngIf="status=='NEW'" class="form-group">
    <app-button-primary
      (clickHandler)="reject()"
      label="Отказать">
    </app-button-primary>
    <app-button-primary
      (clickHandler)="accepted()"
      label="Зарегистрировать">
    </app-button-primary>
  </div>
</form>
