<h3>Список задач</h3>
<app-table-with-pagination (loadInfo)="loadData($event)"
                           (rowClick)="selectTask($event)"
                           [countRecord]="countRecord"
                           [dataSource]="dataSource"
                           [displayedColumns]="columns"
                           [pageSizeOptions]="pageSizeOption"
                           [pageSize]="pageSize">
</app-table-with-pagination>
