<app-base-layout>

  <app-layout-header subtitle="Сотрудник" title="Личный кабинет"></app-layout-header>

  <div class="router-outlet-wrapper">
    <router-outlet></router-outlet>
  </div>

</app-base-layout>
