@import "~app/shared/styles/all";

.header-row {
  width: 100%;
  padding: 10px;
  height: $g_heightHeader;
}

.header-btn {
  margin: 0 5px;
}

.right-float {
  float: right;
}

.left-float {
  float: left;
}
