<div [formGroup]="formGroup">
  <mat-form-field>
    <input [formControlName]="fieldName" [matDatepicker]="myDatepicker" matInput
           placeholder="{{fieldLabel}}" readonly="{{disabled}}">
    <mat-datepicker-toggle [disabled]="disabled" [for]="myDatepicker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>
</div>
