<div class="padding-10">
  <h2 class="no-margin">О нас</h2>
  <p>Лаборатория криминалистических экспертиз – одно из ведущих подразделений АНО «Центр по проведению судебных
    экспертиз и исследований». Сотрудниками лаборатории выполняются все виды криминалистических экспертиз, начиная от
    самых популярных и востребованных, таких как дактилоскопическая или почерковедческая, и заканчивая редкими, а также
    сложными и комбинированными разновидностями исследований. Высококлассные специалисты готовы произвести любой вид
    анализа, лежащий в поле их профессиональной компетенции. В настоящее время в перечень услуг лаборатории
    криминалистических экспертиз входит портретная, трасологическая, графологическая экспертиза, исследование
    документов, идентификационных особенностей личности и многое другое.</p>
</div>
