
<form [formGroup]="editProfileFormGroup" class="app_form">

  <h2>Редактирование профиля</h2>

  <div>
    <mat-form-field>
      <input formControlName="lastName" id="lastName" matInput placeholder="Фамилия">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input formControlName="firstName" id="firstName" matInput placeholder="Имя">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input formControlName="secondName" id="secondName" matInput placeholder="Отчество">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input formControlName="email" id="email" matInput placeholder="Адрес электронной почты">
    </mat-form-field>
  </div>

  <div>
    <mat-form-field>
      <input formControlName="phone" id="phone" matInput placeholder="Контактный телефон">
    </mat-form-field>
  </div>


  <div>
    <app-button-back buttonName="Назад"></app-button-back>
    <app-button-back buttonName="В систему" url="system"></app-button-back>
    <app-button-primary
      (click)="editProfile()"
      [disabled]="editProfileFormGroup.status !== 'VALID'"
      label="Сохранить">
    </app-button-primary>
    <app-button-primary
      (click)="editPassword()"
      label="Изменить пароль">
    </app-button-primary>
  </div>
</form>
