@import '~app/shared/styles/all';
@import '../_narrow';

.aside__wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
  box-sizing: border-box;
  transition: $widthAsideBarAnimateTime max-width ease-in-out, $widthAsideBarAnimateTime min-width ease-in-out;
  overflow: hidden;
  background-color: $g_color_leftSidebarBackground;
  width: 200px;
  padding-top: $g_heightHeader;

  /* класс узкого сайдбара */
  &.aside__wrapper-narrow {
    max-width: $widthNarrowAsideBar;
    min-width: $widthNarrowAsideBar;
    overflow: hidden;
  }
}

.aside__narrow-btn {
  position: absolute;
  display: flex;
  right: 0;
  bottom: 0;
  color: white;
  cursor: pointer;
  font-size: $narrowBtnFontSize;
  padding: $narrowBtnPadding;
  opacity: 0.5;
  transition: 0.2s opacity linear;

  &:hover {
    opacity: 1;
  }
}
